#query {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    max-height: 60%;
    height: 60%;
    font-size: 1.3rem;
    #select-from {
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        max-height: 57%;
        height: 57%;
        overflow: auto;
    }
    #where {
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        max-height: 57%;
        height: 57%;
        overflow: auto;
    }
    #constrains {
        border-right: 1px solid rgba(0, 0, 0, 0.12);
        .simple-table-container {
            height: 100%;
        }
    }
    #code {
        border-right: 1px solid rgba(0, 0, 0, 0.12);
        height: 100%;
        md-tabs {
            height: 60%;
            md-tab-content {
                background: #110D11;
                border-bottom: 1px solid rgba(0, 0, 0, 0.12);
                font-size: 1.4rem;
                font-weight: 700;
            }
        }
        pre {
            max-height: 45%;
            height: 45%;
            background-color: #110D11!important;
            border-radius: 4px;
            word-wrap: normal;
            margin: 0;
            code {
                display: block;
                max-height: 45%;
                height: 45%;
                overflow-x: auto;
                padding: 1.5em;
                margin: 0;
                background: #110D11;
                color: #ddd;
                -webkit-text-size-adjust: none;
                line-height: 1.8;
                .string {
                    color: #a6e22e;
                }
                .keyword {
                    color: #66d9ef;
                }
                .function {
                    color: #e6db74;
                }
                .comment {
                    opacity: .4;
                }
                .subst {
                    color: #E55300;
                }
            }
        }
    }
    md-input-container {
        margin: 0;
        md-select {
            max-width: 55%;
        }
    }
    tr {
        td {
            &:first-child {
                width: 15%;
            }
        }
    }
}

#results-table {
    padding: 3px;
    max-width: 100%;
    height: 100%;
    overflow: auto;
    .table-title {
        background: #fff;
        color: #000;
    }
}
