<div id="classes" class="page-layout simple fullwidth doc-page">
    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="center start">
            <div class="title">General Settings</div>
        </div>
        <div layout="row" layout-align="start center">
        </div>
    </div>
    <!-- / HEADER -->
    <!-- CONTENT -->
    <div class="content" md-background-bg>
        <!-- Application keys -->
        <div layout="row" layout-align="center">
            <div layout-margin style="text-align: center">
                <h1><strong>Application Management</strong></h1>
                <span class="md-subhead">These options will affect your entire appplication</span>
            </div>
        </div>
        <div layout="row" layout-margin layout-align="center" layout-wrap>
            <div flex="85" class="md-whiteframe-4dp">
                <div layout="row">
                    <div flex="60">
                        <div layout="row" layout-margin layout-wrap>
                            <h3 flex="100"><strong>Delete application</strong></h3>
                            <span flex="100">
                                Completely remove any trace of this application's existence.
                            </span>
                        </div>
                    </div>
                    <div flex="40" class="md-grey-300-bg" layout="column" layout-align="center strech">
                        <md-button ng-if="!!!masterKey" class="md-raised md-warn" ng-click="showDeleteDialog()">
                            Delete this application
                        </md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / CONTENT -->
</div>
