<div id="login" class="flex-scrollable" layout="column" ms-scroll>
    <div id="login-form-wrapper" layout="column" layout-align="center center">
        <div class="logo">
            <span>Masamune</span>
        </div>
        <div id="login-form" class="md-whiteframe-8dp">
            <div class="title">Log into your Dashboard</div>
            <form name="loginForm" novalidate>
                <md-input-container class="md-block" md-no-float>
                    <label>Username</label>
                    <input type="text" name="username" ng-model="vm.username" required>
                    <div ng-messages="loginForm.username.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span>User Name field is required</span>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" md-no-float>
                    <label>Password</label>
                    <input type="password" name="password" ng-model="vm.password" required>
                    <div ng-messages="loginForm.password.$error" role="alert">
                        <div ng-message="required">
                            <span>Password field is required</span>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" md-no-float>
                    <div ng-messages="loginForm.login.$error" role="alert">
                        <div ng-show="vm.error" class="alert alert-danger">{{vm.error}}</div>
                    </div>
                </md-input-container>
            </form>
        </div>
        <md-button class="md-raised md-accent submit-button" ng-disabled="loginForm.$invalid || loginForm.$pristine" ng-click="vm.login()">
            Log In
        </md-button>
        <div class="register" layout="row" layout-sm="column" layout-align="center center">
            <span class="text" translate="LOGIN.DONT_HAVE_ACCOUNT">Don't have an account?</span>&nbsp;
            <a class="link" ui-sref="app.pages_auth_register" translate="LOGIN.CREATE_ACCOUNT">Create an account</a>
        </div>
    </div>
</div>
