<div id="classes" class="page-layout simple fullwidth doc-page">
    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="center start">
            <div class="title">{{className}}</div>
        </div>
        <div layout="row" layout-align="start center">
            <md-button aria-label="" class="md-primary md-raised" ng-click="showAddClassDialog($event)">
                <md-icon md-font-icon="icon-plus"></md-icon>
                <span>Create new class</span>
            </md-button>
            <md-button aria-label="" class="md-primary md-raised" ng-click="updateValues()">
                <md-icon md-font-icon="icon-table-edit"></md-icon>
                <span>Update Values</span>
            </md-button>
            <md-menu id="projects-menu">
                <md-button aria-label="" class="md-primary md-raised" ng-click="$mdOpenMenu()" md-position-mode="target-right target">
                    <span>Edit</span>
                    <md-icon md-font-icon="icon-dots-horizontal"></md-icon>
                </md-button>
                <md-menu-content width="3" class="md-background-bg">
                    <md-menu-item>
                        <md-button ng-click="showAddColumnDialog($event)" aria-label="">
                            <md-icon md-font-icon="icon-plus"></md-icon>
                            <span>Add new column</span>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="showAddRow()" aria-label="">
                            <md-icon md-font-icon="icon-plus"></md-icon>
                            <span>Add new row</span>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="showDeleteColumnDialog($event)" aria-label="">
                            <md-icon md-font-icon="icon-delete"></md-icon>
                            <span>Delete column</span>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="deleteRow()" aria-label="" ng-disabled="checkList() == 0">
                            <md-icon md-font-icon="icon-delete"></md-icon>
                            <span>Delete Rows</span>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="updateField($event)" aria-label="">
                            <md-icon md-font-icon="icon-table-edit"></md-icon>
                            <span>Update Field Name</span>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </div>
    <!-- / HEADER -->
    <!-- CONTENT -->
    <div class="content" md-background-bg>
        <div class="form-wrapper md-whiteframe-4dp">
        </div>
        <div class="white-bg md-whiteframe-4dp">
            <form name="myform" id="myform">
                <table class="simple dataTable row-border hover" id="table" ms-responsive-table>
                    <thead>
                        <tr>
                            <th>
                                <md-checkbox aria-label=" " ng-checked="isChecked()" md-indeterminate="isIndeterminate()" ng-click="toggleAll()"></md-checkbox>
                            </th>
                            <th ng-repeat="field in fields">
                                <!-- <a href="" ng-click="order(field)"> -->{{field}}
                                <!-- </a> -->
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-if="addNewSchema">
                            <td></td>
                            <td>
                                <md-button aria-label="" class="md-raised md-accent" ng-click="addRow()">
                                    <md-icon md-font-icon="icon-plus"></md-icon>
                                    <span>Add</span>
                                </md-button>
                            </td>
                            <td>
                                <md-button class="md-raised md-warn md-default-theme" ng-click="cancelAddRow()">
                                    <md-icon md-font-icon="icon-close"></md-icon>
                                    <span>Cancel</span>
                                </md-button>
                            </td>
                            <td></td>
                            <td ng-repeat="field in fields_add">
                                <md-input-container ng-if="schemas[field].type != 'File'" md-no-float class="md-block">
                                    <input placeholder="Value" name="val" type="text" ng-model="add[field]" />
                                </md-input-container>
                                <div ng-if="schemas[field].type == 'File'">
                                    <input class="ng-hide" id="input-file-id" type="file" />
                                    <label for="input-file-id" class="md-button md-raised md-primary">Choose File</label>
                                </div>
                            </td>
                        </tr>
                        <tr ng-repeat="document in documents | orderBy:predicate:reverse | filter:paginate track by document.objectId" ng-init="position = $index">
                            <td>
                                <md-checkbox aria-label=" " ng-checked="exists(document.objectId)" ng-click="toggle(document.objectId)"></md-checkbox>
                            </td>
                            <td ng-repeat="(key, value) in document">
                                <span ng-if="!editable(key)">
                                    {{document[key]}}
                                </span>
                                <md-input-container ng-if="schemas[key].type != 'File'" md-no-float class="md-block">
                                    <input ng-if="editable(key)" placeholder="Value" name="schemavalue" type="text" ng-model="document[key]" />
                                </md-input-container>
                                <md-input-container ng-if="schemas[key].type == 'File'" md-no-float class="md-block">
                                    <a href="{{document[key].url}}">Image</a>
                                </md-input-container>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <div class="form-wrapper md-whiteframe-4dp">
            <uib-pagination total-items="totalItems" ng-model="currentPage" max-size="5" boundary-links="true" items-per-page="numPerPage" class="pagination-lg"></uib-pagination>
        </div>
    </div>
    <!-- / CONTENT -->
</div>
