<div id="applications" class="page-layout simple fullwidth doc-page">
    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="start center">
        <div layout="column" layout-align="start" flex>
            <div class="title">Applications</div>
        </div>
        <div layout="column" layout-align="center end" layout-wrap flex>
            <md-button class="md-default md-raised" ng-click="showAddDialog($event)">
                <md-icon md-font-icon="icon-plus"></md-icon>
                <span>Create new application</span>
            </md-button>
        </div>
    </div>
    <!-- / HEADER -->
    <!-- CONTENT -->
    <div class="content" md-background-bg layout="row" layout-wrap>
        <div ng-repeat="application in applications track by $index" flex="50" class="be-app-card" layout="row" layout-align="center stretch">
            <div class="ph-10 pv-5 md-primary-bg be-app-card-header" ng-model="application" ng-click="goToAppManagement(application._id, application.name)" flex="50">
                <div>
                    <div class="name h1" ng-if="application.name">
                        {{application.name}}
                    </div>
                </div>
                <div>
                    <span>Created</span><span>6 days ago</span>
                </div>
            </div>
            <div class="ph-10 pv-5 md-primary-bg be-app-card-info" flex="50" layout="column" layout-align="space-around">
                <div>
                    <span>At a glance</span>
                </div>
                <div layout="row" layout-align="space-between" class="mt-5">
                    <div layout="column">
                        <div>
                            227
                        </div>
                        <div>
                            requests
                        </div>
                    </div>
                    <div layout="column">
                        <div>
                            2
                        </div>
                        <div>
                            users
                        </div>
                    </div>
                    <div layout="column">
                        <div>
                            4
                        </div>
                        <div>
                            installations
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / CONTENT -->
</div>
