/*----------------------------------------------------------------*/


/*  ms-responsive-table
/*----------------------------------------------------------------*/

.ms-responsive-be-table-wrapper {
    position: fixed;
    top: 56px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 3px;
    table {
        border: none;
        table-layout: fixed;
        width: 0;
        margin: 0;
        th {
            border: none;
            position: relative;
            color: #fff;
            padding: 0 !important;
            font-weight: 500;
            .be-header {
                padding: 8px !important;
                text-overflow: ellipsis;
                overflow: hidden;
                span {
                    color: #a2a6b1;
                    font-size: 1.1rem;
                    margin-left: 0.5rem;
                }
            }
            &.be-drag-over {
                border: 2px dashed #000 !important;
                .be-header {
                    padding: 8px 6px !important;
                }
            }
            .be-grip {
                top: 0;
                right: -5px;
                bottom: 0;
                width: 10px;
                position: absolute;
                cursor: col-resize;
                z-index: 10;
                background: transparent;
            }
            md-checkbox {
                margin-left: 4px;
            }
        }
        td {
            padding: 0 !important;
            .be-cell {
                text-overflow: ellipsis;
                overflow: hidden;
                color: #0e69a1;
                padding: 5px 8px;
            }
            md-input-container,
            textarea,
            input {
                width: 100%;
            }

        }
    }
    thead {
        border: none !important;
        white-space: nowrap;
    }
    tbody {
        height: 81vh;
        overflow-y: scroll;
        overflow-x: hidden;
        white-space: nowrap;
        tr:nth-child(even) {
            background-color: #EEEEEE;
        }
    }
    th,
    td {
        min-width: 150px;
        width: 150px;
    }
    th:first-child,
    td:first-child {
        min-width: 28px;
        width: 28px;
        padding-left: 24px;
    }
    th:nth-child(even) {
        background-color: rgb(114, 111, 133);
    }
    th:nth-child(odd) {
        background-color: rgb(102, 99, 122);
    }
    .md-errors-spacer {
        min-height: 0;
    }
    md-input-container {
        margin: 3px 0;
    }
    md-checkbox {
        margin: 3px;
    }
}
