<div id="cards" class="page-layout simple fullwidth doc-page">
    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="center start">
            <div class="title">Applications</div>
        </div>
        <div layout="column" layout-align="center center">
            <md-button class="md-default md-raised" ng-click="showAddDialog($event)">
                <md-icon md-font-icon="icon-plus"></md-icon>
                <span>Create new application</span>
            </md-button>
            <md-button class="md-raised md-warn md-default-theme" ng-click="showDeleteDialog($event)">
                <md-icon md-font-icon="icon-close"></md-icon>
                <span>Delete application</span>
            </md-button>
        </div>
    </div>
    <!-- / HEADER -->
    <!-- CONTENT -->
    <div class="content" md-background-bg layout="row" layout-wrap>
        <div ng-repeat="application in applications track by $index" flex="33">
            <!-- MS-CARD -->
            <ms-card template="'app/core/directives/ms-card/templates/template-7/template-7.html'" ng-model="application" ng-click="goToAppManagement(application._id)"></ms-card>
            <!-- / MS-CARD -->
        </div>
    </div>
    <!-- / CONTENT -->
</div>
