<div id="classes" class="page-layout simple fullwidth doc-page">
    <!-- HEADER -->
<!--     <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="center start">
            <div class="title">Class Information</div>
        </div>
        <div layout="row" layout-align="start center">
        </div>
    </div> -->
    <!-- / HEADER -->
    <!-- CONTENT -->
    <div class="content" md-background-bg>
        <!-- Application keys -->
        <div layout="row" layout-align="center">
            <div layout-margin style="text-align: center">
                <h1><strong>Application Keys</strong></h1>
                <span class="md-subhead">These are the unique identifiers used to access this application</span>
            </div>
        </div>
        <div layout="row" layout-margin layout-align="center" layout-wrap>
            <div flex="85" class="md-whiteframe-4dp">
                <div layout="row">
                    <div flex="55">
                        <div layout="column" layout-margin layout-wrap>
                            <h3><strong>Application ID</strong></h3>
                            <span>
                                Main ID that uniquely specifies this app. 
                            </span>
                        </div>
                    </div>
                    <div flex="45" class="md-grey-300-bg" layout="row" layout-align="center center">
                        {{appId}}
                    </div>
                </div>
            </div>
            <div flex="85" class="md-whiteframe-4dp">
                <div layout="row">
                    <div flex="55">
                        <div layout="column" layout-margin layout-wrap>
                            <h3><strong>Master key</strong></h3>
                            <span>
                                Using this key overrides all permissions. Not usable on client SDKs.
                                <br/> Keep it secret!
                            </span>
                        </div>
                    </div>
                    <div flex="45" class="md-grey-300-bg" layout="column" layout-align="center strech">
                        <md-button ng-if="!!!masterKey" class="md-raised md-accent" ng-click="showMasterKey()">
                            Show Master key
                        </md-button>
                        <span ng-if="!!masterKey" style="margin: auto">{{masterKey}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / CONTENT -->
</div>
