<md-dialog class="compose-dialog" aria-label="New Message">
    <form class="md-inline-form">
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <span class="title" translate="NEW APPLICATION">New Application</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog" tranlate
                           translate-aria-label="CLOSE DIALOG">
                    <md-icon md-font-icon="icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content ms-scroll>
            <md-input-container class="md-block">
                <label translate="APPLICATION NAME">Application Name</label>
                <input ng-model="className" type="text">
            </md-input-container>
        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
                <md-button ng-click="createClass()" class="send-button md-accent md-raised" aria-label="Create"
                           translate="CREATE CLASS"
                           translate-attr-aria-label="CREATE CLASS">
                    SEND
                </md-button>
            </div>
        </md-dialog-actions>
    </form>
</md-dialog>