#classes {
    background: #EEEEEE;
    .header {
        margin: 10px;
        .title {
            color: #fff;
            font-size: 2.3rem;
        }
        md-icon {
            color: #fff;
        }
        md-menu-content {
            max-height: 400px;
        }
    }
    md-checkbox {
        ._md-icon {
            border-radius: 100%;
        }
    }
    md-switch {
        margin: 0;
    }
    .boolean-text {
        color: #BDBDBD;
    }
}

#acl {
    width: 100%;
    border-collapse: collapse;
    .acl-public-row {
        background: #BBDEFB;
    }
    tr {
        th,
        td {
            &:first-child {
                width: 60%;
            }
            &:not(:first-child) {
                padding: 0 10px;
            }
            &:nth-child(even) {
                background: rgba(0,0,0,0.1);
            }
        }
    }
}
