<div id="classes" class="page-layout simple fullwidth doc-page">
    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="center start">
            <div ng-if="mode === 'classMode'">
                <div class="sub-title">Table</div>
                <div class="title">{{title}} <span class="title-info">{{documents.length}} objects</span></div>
            </div>
            <div ng-if="mode === 'relationMode'">
                <div class="sub-title">Relation <{{relationInfo.targetClass}}></div>
                <div class="title">"{{relationInfo.name}}" on {{relationInfo.owningId}} <span class="title-info">{{documents.length}} objects</span></div>
            </div>
        </div>
        <div layout="row" layout-align="start center">
            <div ng-if="mode === 'relationMode'">
                <md-button aria-label="refresh button" ng-click="backToClassView()">
                    <md-icon md-font-icon="icon-arrow-left-bold-circle-outline"></md-icon>
                    <span>Back to "Classes" view</span>
                </md-button>
            </div>
            <md-button aria-label="refresh button" ng-click="refreshDocuments()">
                <md-icon md-font-icon="icon-refresh"></md-icon>
                <span>Refresh</span>
            </md-button>
            <md-button aria-label="" ng-click="showFilterDialog($event)">
                <md-icon md-font-icon="icon-filter"></md-icon>
                <span>Filter</span>
            </md-button>
            <md-menu id="projects-menu">
                <md-button aria-label="" ng-click="$mdOpenMenu()" md-position-mode="target-right target">
                    <span>Edit</span>
                    <md-icon md-font-icon="icon-dots-horizontal"></md-icon>
                </md-button>
                <md-menu-content width="3" class="md-background-bg">
                    <div ng-if="mode === 'relationMode'">
                        <md-menu-item>
                            <md-button aria-label="add relation" ng-click="showAddRelation($event)" aria-label="Add relation">
                                <md-icon md-font-icon="icon-key-plus"></md-icon>
                                <span>Add Relation</span>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button aria-label="add relation" ng-click="showRemoveRelation($event)" aria-label="Remove relation">
                                <md-icon md-font-icon="icon-key-remove"></md-icon>
                                <span>Remove Relation</span>
                            </md-button>        
                        </md-menu-item>
                    </div>
                    <div ng-if="mode === 'classMode'">
                        <md-menu-item>
                            <md-button ng-click="showAddColumnDialog($event)" aria-label="">
                                <md-icon md-font-icon="icon-plus"></md-icon>
                                <span>Add new column</span>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="addRow()" aria-label="">
                                <md-icon md-font-icon="icon-plus"></md-icon>
                                <span>Add new row</span>
                            </md-button>
                        </md-menu-item>
                        <md-divider></md-divider>
                        <md-menu-item>
                            <md-button ng-click="showUpdateFieldNameDialog($event)" aria-label="">
                                <md-icon md-font-icon="icon-table-edit"></md-icon>
                                <span>Update column name</span>
                            </md-button>
                        </md-menu-item>
                        <md-divider></md-divider>
                        <md-menu-item>
                            <md-button ng-click="showDeleteColumnDialog($event)" aria-label="">
                                <md-icon md-font-icon="icon-delete"></md-icon>
                                <span>Delete column</span>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="deleteRow()" aria-label="delete rows" ng-disabled="checkList() == 0">
                                <md-icon md-font-icon="icon-delete"></md-icon>
                                <span aria-label="delete this row" ng-if="checked.length == 1">Delete this row</span>
                                <span aria-label="delete these rows" ng-if="checked.length != 1">Delete these rows</span>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="showDeleteClassDialog($event)" aria-label="">
                                <md-icon md-font-icon="icon-delete"></md-icon>
                                <span>Delete this class</span>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="showExportClass($event)" aria-label="">
                                <md-icon md-font-icon="icon-export"></md-icon>
                                <span>Export this class</span>
                            </md-button>
                        </md-menu-item>
                    </div>
                </md-menu-content>
            </md-menu>
        </div>
    </div>
    <!-- / HEADER -->
    <!-- CONTENT -->
    <!-- <div class="content" md-background-bg> -->
    <div class="ms-responsive-be-table-wrapper">
        <table class="dataTable">
            <thead>
                <tr>
                    <th>
                        <md-checkbox aria-label="check all" ng-checked="isChecked()" md-indeterminate="isIndeterminate()" ng-click="toggleAll()"></md-checkbox>
                    </th>
                    <th ng-repeat="(key, value) in schemas" class="no-select">
                        <!-- <div id="header_{{$index}}" class="be-header" draggable="false" ondragstart="angular.element(this).scope().handleDragStart(event)" ondragend="angular.element(this).scope().handleDragEnd(event)" ondragover="angular.element(this).scope().handleDragOver(event)" ondragenter="angular.element(this).scope().handleDragEnter(event)" ondragleave="angular.element(this).scope().handleDragLeave(event)" ondrop="angular.element(this).scope().handleDrop(event)">
                            {{key}}
                            <span ng-if="schemas[key].type != 'Pointer'">{{schemas[key].type}}</span>
                            <span ng-if="schemas[key].type == 'Pointer'">
                                {{schemas[key].type}} <{{schemas[key].targetClass}}>
                            </span>
                        </div> -->
                        <div id="header_{{$index}}" class="be-header">
                            {{key}}
                            <span ng-if="schemas[key].type != 'Pointer' && schemas[key].type != 'Relation'">{{schemas[key].type}}</span>
                            <span ng-if="schemas[key].type == 'Pointer' || schemas[key].type == 'Relation'">
                                {{schemas[key].type}} <{{schemas[key].targetClass}}>
                            </span>
                        </div>
                        <div class="be-grip" ng-mousedown="beResize($event, $index)">
                            &nbsp;
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="document in documents" ng-init="position = $index">
                    <td>
                        <md-checkbox aria-label=" " ng-checked="exists(document.objectId)" ng-click="toggle(document.objectId)"></md-checkbox>
                    </td>
                    <td ng-repeat="(key, value) in schemas" id="cell_{{(position + 1 + '') + ($index + '')}}" class="cell_{{$index}}" ng-dblclick="goEditMode((position + 1 + '') + ($index + ''), document, key, $event)">
                        <div ng-if="!editable(key)" class="be-cell">
                            <div ng-if="!checkFieldType(key, 'Date')">
                                <span class="disable-text" ng-model="document[key]">{{document[key]}}</span>
                            </div>
                            <div ng-if="checkFieldType(key, 'Date')">
                                <span class="disable-text" ng-model="document[key]">
                                    {{convertToLocaleStringDate(document[key])}}
                                </span>
                            </div>
                        </div>
                        <div ng-if="editable(key)" class="be-cell">
                            <!-- String, Number, Array, Object, Boolean Type -->
                            <div ng-if="checkFieldType(key, 'String') || checkFieldType(key, 'Number') || checkFieldType(key, 'Boolean') || checkFieldType(key, 'Array') || checkFieldType(key, 'Object')"">
                                <div ng-if="!editMode[(position + 1 + '') + ($index + '')]" class="ellipsis-text">
                                    <span ng-if="document[key] != undefined" name="schemavalue" ng-model="document[key]">
                                        {{document[key]}}
                                    </span>
                                    <span class="undefined-text" ng-if="document[key] == undefined" id="doc-input-{{(position + 1 + '') + ($index + '')}}" name="schemavalue" ng-model="document[key]">
                                        (undefined)
                                    </span>
                                </div>
                                <div ng-if="editMode[(position + 1 + '') + ($index + '')]" class="ellipsis-text">
                                    <div ng-form name="vm.editForm" onkeydown="angular.element(this).scope().updateOnEnter(event)">
                                        <!-- Edit for String Type -->
                                        <div ng-if="checkFieldType(key, 'String')">
                                            <textarea aria-label=" " ng-model="document[key]" rows="3" autofocus></textarea>
                                        </div>
                                        <!-- / Edit for String Type -->
                                        <!-- Edit for Number Type -->
                                        <div ng-if="checkFieldType(key, 'Number')">
                                            <input type="number" aria-label=" " ng-model="document[key]">
                                        </div>
                                        <!-- / Edit for Number Type -->
                                        <!-- Edit for Boolean Type -->
                                        <div class="boolean-text" ng-if="checkFieldType(key, 'Boolean')" layout="row" layout-align="space-between center">
                                            <span class="no-select" ng-class="{'be-active': document[key] == false}">False</span>
                                            <md-switch ng-model="document[key]" aria-label="boolean type">
                                            </md-switch>
                                            <span class="no-select" ng-class="{'be-active': document[key] == true}">True</span>
                                        </div>
                                        <!-- / Edit for Boolean Type -->
                                        <!-- Edit for Array Type -->
                                        <div ng-if="checkFieldType(key, 'Array') || checkFieldType(key, 'Object')">
                                            <textarea aria-label=" " ng-model="document[key]" rows="3" autofocus></textarea>
                                        </div>
                                        <!-- / Edit for Array Type -->
                                    </div>
                                </div>
                            </div>
                            <!-- / String, Number, Array, Boolean Type -->
                            <!-- Datetime -->
                            <div ng-if="checkFieldType(key, 'Date')">
                                <div ng-if="!editMode[(position + 1 + '') + ($index + '')]" class="ellipsis-text">
                                    <span ng-if="document[key] != undefined" name="schemavalue" ng-model="document[key]">
                                        {{convertToLocaleStringDate(document[key].iso)}}
                                    </span>
                                    <span class="undefined-text" ng-if="document[key] == undefined" id="doc-input-{{(position + 1 + '') + ($index + '')}}" name="schemavalue" ng-model="document[key]">
                                        (undefined)
                                    </span>
                                </div>
                                <div ng-if="editMode[(position + 1 + '') + ($index + '')]" class="ellipsis-text">
                                    <div ng-form name="vm.editForm" onkeydown="angular.element(this).scope().updateOnEnter(event)">
                                        <textarea aria-label=" " ng-model="document[key].iso" rows="3" autofocus></textarea>
                                    </div>
                                </div>
                            </div>
                            <!-- / Datetime -->
                            <!-- GeoPoint Type -->
                            <div ng-if="checkFieldType(key, 'GeoPoint')">
                                <div ng-if="!editMode[(position + 1 + '') + ($index + '')]">
                                    <div ng-if="!document[key]" class="ellipsis-text">
                                        <span class="undefined-text" ng-model="document[key]">
                                            (undefined)
                                        </span>
                                    </div>
                                    <div ng-if="document[key]" class="ellipsis-text">
                                        <span>
                                            ({{document[key].latitude}}, {{document[key].longitude}})
                                        </span>
                                    </div>
                                </div>
                                <div ng-if="editMode[(position + 1 + '') + ($index + '')]">
                                    <div layout="row" ng-form name="vm.editForm" onkeydown="angular.element(this).scope().updateOnEnter(event)">
                                        <md-input-container md-no-float class="no-error-check-input">
                                            <input ng-model="document[key].latitude" type="text" name="latitude" placeholder="Latitude" class="ellipsis-text" autofocus>
                                        </md-input-container>
                                        <md-input-container md-no-float class="no-error-check-input">
                                            <input ng-model="document[key].longitude" type="text" name="longitude" placeholder="Longitude" class="ellipsis-text">
                                        </md-input-container>
                                    </div>
                                </div>
                            </div>
                            <!-- / GeoPoint Type -->
                            <!-- File Type -->
                            <div ng-if="checkFieldType(key, 'File')">
                                <div ng-if="!editMode[(position + 1 + '') + ($index + '')]">
                                    <div ng-if="!document[key] || document[key].name == 'deleted'" class="ellipsis-text">
                                        <span class="undefined-text" ng-model="document[key]">
                                            (undefined)
                                        </span>
                                    </div>
                                    <div ng-if="document[key] && document[key].name != 'deleted'">
                                        <div layout="column" layout-align="center stretch">
                                            <a ng-href="{{document[key].url}}" target="_blank" class="be-button be-button-blue">
                                                {{document[key].name.substr((document[key].name).indexOf('_') + 1, document[key].name.length)}}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="editMode[(position + 1 + '') + ($index + '')]">
                                    <div ng-form name="vm.editForm">
                                        <div class="upload-file-wrapper" ng-if="!document[key] || document[key].name == 'deleted'" class="ellipsis-text">
                                            <input class="ng-hide" id="js-file" type="file" onchange="angular.element(this).scope().uploadFile(this)" />
                                            <label for="js-file" class="be-button be-button-blue no-select">Upload file</label>
                                        </div>
                                        <div class="upload-file-wrapper" ng-if="document[key] && document[key].name != 'deleted'" layout="column" layout-align="center stretch" layout-padding>
                                            <div flex>
                                                <input class="ng-hide" id="updateFile" type="file" onchange="angular.element(this).scope().uploadFile(this)" />
                                                <label for="updateFile" class="be-button be-button-blue no-select">Replace file</label>
                                            </div>
                                            <div flex>
                                                <button type="button" class="be-button be-button-red no-select" ng-click="deleteFile(document, key)">Delete file</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- / File Type -->
                            <!-- Pointer Type -->
                            <div ng-if="checkFieldType(key, 'Pointer')">
                                <div ng-if="!editMode[(position + 1 + '') + ($index + '')]">
                                    <div ng-if="!document[key]" class="ellipsis-text">
                                        <span class="undefined-text" ng-model="document[key]">
                                            (undefined)
                                        </span>
                                    </div>
                                    <div ng-if="document[key]" class="ellipsis-text">
                                        <a href="javascript:void(0)" ng-click="gotoPointerClass(document[key].className, document[key].objectId)" class="be-button be-button-blue">
                                            <span>{{document[key].objectId}}</span>
                                        </a>
                                    </div>
                                </div>
                                <div ng-if="editMode[(position + 1 + '') + ($index + '')]">
                                    <div ng-form name="vm.editForm">
                                        <textarea aria-label="pointer" ng-model="document[key].objectId" rows="3" autofocus></textarea>
                                    </div>
                                </div>
                            </div>
                            <!-- / Pointer Type -->
                            <!-- Relation Type -->
                            <div ng-if="checkFieldType(key, 'Relation')">
                                <div class="ellipsis-text">
                                    <a href="javascript:void(0)" ng-click="showRelation(document[key].className, document.objectId, key)" class="be-button be-button-blue">
                                        <span>View relation</span>
                                    </a>
                                </div>
                            </div>
                            <!-- / Relation Type -->
                            <!-- ACL Type -->
                            <div ng-if="checkFieldType(key, 'ACL')">
                                <div ng-if="!editMode[(position + 1 + '') + ($index + '')]" class="ellipsis-text">
                                    <span ng-if="document[key]['*'].read || document[key]['*'].write" ng-init="publicAccess = document[key]['*']">
                                        Public <span ng-if="publicAccess.read">read</span><span ng-if="publicAccess.read && publicAccess.write"> + </span><span ng-if="publicAccess.write">write</span>
                                    </span>
                                    <span ng-repeat="(aclKey, aclValue) in document[key]">
                                        <span ng-if="aclKey != '*'">
                                            <span ng-if="$index != 0 || document[key]['*']">,&nbsp;</span>
                                    <span>{{aclKey}}</span>
                                    </span>
                                    </span>
                                </div>
                            </div>
                            <!-- / ACL Type -->
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- / CONTENT -->
</div>
