<div id="classes" class="page-layout simple fullwidth doc-page">
    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="center start">
            <div class="title">{{title}}</div>
        </div>
        <div layout="row" layout-align="start center">
            <md-button aria-label="" class="md-primary md-raised" ng-click="showFilterDialog($event)">
                <md-icon md-font-icon="icon-filter"></md-icon>
                <span>Filter</span>
            </md-button>
            <md-menu id="projects-menu">
                <md-button aria-label="" class="md-primary md-raised" ng-click="$mdOpenMenu()" md-position-mode="target-right target">
                    <span>Edit</span>
                    <md-icon md-font-icon="icon-dots-horizontal"></md-icon>
                </md-button>
                <md-menu-content width="3" class="md-background-bg">
                    <md-menu-item>
                        <md-button ng-click="showAddColumnDialog($event)" aria-label="">
                            <md-icon md-font-icon="icon-plus"></md-icon>
                            <span>Add new column</span>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="showAddRow()" aria-label="">
                            <md-icon md-font-icon="icon-plus"></md-icon>
                            <span>Add new row</span>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="showDeleteColumnDialog($event)" aria-label="">
                            <md-icon md-font-icon="icon-delete"></md-icon>
                            <span>Delete column</span>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="deleteRow()" aria-label="" ng-disabled="checkList() == 0">
                            <md-icon md-font-icon="icon-delete"></md-icon>
                            <span>Delete Rows</span>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="showUpdateFieldNameDialog($event)" aria-label="">
                            <md-icon md-font-icon="icon-table-edit"></md-icon>
                            <span>Update Field Name</span>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </div>
    <!-- / HEADER -->
    <!-- CONTENT -->
    <!-- <div class="content" md-background-bg> -->
    <div class="ms-responsive-be-table-wrapper">
        <table class="dataTable row-border">
            <thead>
                <tr>
                    <!--                     <th>
                        <md-checkbox aria-label=" " ng-checked="isChecked()" md-indeterminate="isIndeterminate()" ng-click="toggleAll()"></md-checkbox>
                    </th> -->
                    <th ng-repeat="(key, value) in schemas">
                        <b>{{key}}</b>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="addNewSchema">
                    <td></td>
                    <td>
                        <md-button aria-label="" class="md-raised md-accent" ng-click="addRow()">
                            <md-icon md-font-icon="icon-plus"></md-icon>
                            <span>Add</span>
                        </md-button>
                    </td>
                    <td>
                        <md-button class="md-raised md-warn md-default-theme" ng-click="cancelAddRow()">
                            <md-icon md-font-icon="icon-close"></md-icon>
                            <span>Cancel</span>
                        </md-button>
                    </td>
                    <td ng-repeat="(key, value) in schemas" ng-if="editable(key)">
                        <md-input-container ng-if="value.type != 'File'" md-no-float class="md-block">
                            <input placeholder="Value" name="val" type="text" ng-model="add[key]" />
                        </md-input-container>
                        <div ng-if="value.type == 'File'">
                            <input class="ng-hide" id="input-file-id" type="file" />
                            <label for="input-file-id" class="md-button md-raised md-primary">Choose File</label>
                        </div>
                    </td>
                </tr>
                <tr ng-repeat="document in documents" ng-init="position = $index">
                    <!--                    <td>
                        <md-checkbox aria-label=" " ng-checked="exists(document.objectId)" ng-click="toggle(document.objectId)"></md-checkbox>
                    </td> -->
                    <td ng-repeat="(key, value) in schemas">
                        <div ng-if="!editable(key)">
                            <md-input-container>
                                <input aria-label=" " ng-model="document[key]" disabled />
                            </md-input-container>
                        </div>
                        <div ng-if="editable(key)">
                            <!-- String, Datetime, Number, Boolean Type -->
                            <div ng-if="schemas[key].type == 'String' || schemas[key].type == 'Date' || schemas[key].type == 'Number' || schemas[key].type == 'Boolean'">
                                <md-input-container ng-if="!editMode[(position + 1 + '') + ($index + '')]" md-no-float class="md-block">
                                    <input id="doc-input-{{(position + 1 + '') + ($index + '')}}" aria-label=" " ng-focus="goEditMode((position + 1 + '') + ($index + ''), document[key])" placeholder="undefined" name="schemavalue" type="text" ng-model="document[key]" />
                                </md-input-container>
                                <md-input-container ng-if="editMode[(position + 1 + '') + ($index + '')]" md-no-float class="md-block">
                                    <textarea id="doc-textarea-{{(position + 1 + '') + ($index + '')}}" aria-label=" " ng-blur="updateValues((position + 1 + '') + ($index + ''), document, key)" ng-model="document[key]" rows="10" autofocus></textarea>
                                </md-input-container>
                            </div>
                            <!-- / String, Datetime, Number, Boolean Type -->
                            <!-- File Type -->
                            <div ng-if="schemas[key].type == 'File'">
                                <md-input-container ng-if="editable(key)" md-no-float class="md-block ">
                                    <a ng-href="{{document[key].url}}" target="_blank" layout="row" layout-align="center center" class="pt-5">
                                        {{getFileType(document[key].name)}}
                                    </a>
                                </md-input-container>
                            </div>
                            <!-- / File Type -->
                            <!-- Pointer Type -->
                            <div ng-if="schemas[key].type == 'Pointer'">
                                <md-input-container ng-if="editable(key)" md-no-float class="md-block ">
                                    <a href="" ng-click="gotoPointerClass(document[key].className, document[key].objectId)" layout="row" layout-align="center center" class="pt-5">
                                        {{document[key].objectId}}
                                    </a>
                                </md-input-container>
                            </div>
                            <!-- / Pointer Type -->
                        </div>
                        <!-- <md-button aria-label=" " ng-if="editable(key) && schemas[key].type=='File' " ng-href="{{document[key].url}} " target="_blank " style="margin-bottom: 20px ">{{getFileType(document[key].name)}}</md-button> -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- <uib-pagination total-items="totalItems " ng-model="currentPage " max-size="5 " boundary-links="true " items-per-page="numPerPage " class="pagination-sm "></uib-pagination> -->
    <!-- </div> -->
    <!-- / CONTENT -->
</div>
